:root {
    --block-panel-width: 300px;
    --block-item-width: 318px;
}

.canvas-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: url('../image/tile.png');
    background-repeat: repeat;
    background-size: 30px 30px;
    background-color: #FBFBFB;
    height: 100vh;
}

/** Block Panel  **/
.block-panel-wrapper::after {
    display: none;
    content: "";
    position: absolute;
    background: #0c0d0e;
    opacity: 0.2;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.block-panel-wrapper.active {
    display: block;
}

.block-panel {
    width: var(--block-panel-width);
    background-color: #FFF;
    border: 1px solid #E8E8EF;
    box-sizing: border-box;
    height: 100%;
    z-index: 2;
    transition: all .25s cubic-bezier(.05, .03, .35, 1);
}

.block-panel-header {
    font-weight: 700;
    background-color: #fff;
    color: #0c0d0e;
    border-block-end: 1px solid #e6e8ea;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    padding: 0 10px;
}

.block-panel-body {
    padding: 0 10px;
}

.block-panel-header h2 {
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}

.block-panel.collapse {
    width: 0;
}

.block-panel.collapse .block-panel-header,
.block-panel.collapse .block-panel-body {
    display: none;
}

#close-block-panel {
    position: absolute;
    top: 0;
    margin-left: calc(var(--block-panel-width) - 3px);
    background-color: #FFF;
    border-radius: 0 5px 5px 0;
    border-bottom: 1px solid #E8E8EF;
    border-right: 1px solid #E8E8EF;
    border-top: 1px solid #E8E8EF;
    width: 40px;
    height: 40px;
    text-align: center;
    z-index: 10;
    transition: all .25s cubic-bezier(.05, .03, .35, 1);
}

#close-block-panel img {
    margin-top: 8px;
}

.block-panel.collapse #close-block-panel {
    margin-left: 0;
}

.block-panel.collapse #close-block-panel img {
    transform: scaleX(-1)
}

/** Block Widget Card **/
.block-widget-card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    color: #182433;
    word-wrap: break-word;
    background-color: #ffffff;
    background-clip: border-box;
    border-radius: 4px;
}

.block-widget-card .block-widget-card-header {

}

.block-widget-card .block-widget-card-header h3 {
    font-size: 14px;
    font-weight: 500;
    text-align: start;
    margin: 5px 0;
    color: #6c7a91;
}

.block-widget-card .block-widget-card-body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding: 10px 0;
}

.block-element {
    text-align: center;
    cursor: grab;
    border: 1px solid rgb(4 32 69 / 10%);
}

.block-element .icon {
    padding-top: 15px;
}

.block-element .icon .ti {
    color: #515962;
    font-size: 28px;
}

.block-element .title-wrapper {
    display: flex;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.block-element .title {
    font-size: 12px;
}

/** Block List Item **/
.block-widget-list {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.block-list-item {
    border: 1px solid rgb(4 32 69 / 10%);
    display: flex;
    gap: 15px;
    cursor: pointer;
}

.block-list-item:hover {
    border-color: #2196F3;
    box-shadow: 0 1px 3px 1px rgb(33 150 243 / 40%);
}

.block-list-item .icon {
    background: #eaedf2;
}

.block-list-item .icon,
.block-list-item .title-wrapper {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.block-list-item .icon .ti {
    color: #515962;
    font-size: 20px;
}

.block-list-item .title {
    font-size: 15px;
}

/** Canvas  **/
.canvas {
    position: relative;
    width: 100%;
    /*min-height: 100%;*/
    overflow: scroll;
}

.block-panel.collapse ~ .canvas {
    width: 100%;
}

/** Block Item **/
.block-item {
    background: #FFFFFF;
    position: absolute;
    cursor: pointer;
    min-height: 100px;
    width: var(--block-item-width);
    border: 1px solid transparent;
    transition-property: box-shadow, height;
    transition-duration: .2s;
    transition-timing-function: cubic-bezier(.05, .03, .35, 1);
    border-radius: 5px;
    box-shadow: 0 4px 30px rgba(22, 33, 74, 0.05);
    box-sizing: border-box;
}

.block-item.active {
    border: 2px solid #2196F3;
    box-shadow: 0 4px 30px rgba(22, 33, 74, 0.08);
}

.block-item.branch {
    background: #facd94;
}

.block-item .block-item-header {
    border-bottom: 1px solid rgb(4 32 69 / 10%);
}

.block-item .block-item-header,
.block-item .block-item-body {
    padding: 15px;
}

.block-item .block-item-header h4 {
    margin: 0;
    text-align: start;
}

/* Add button styling */
.add-button {
    width: 30px;
    height: 30px;
    background-color: #2196F3;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

.remove-button {
    width: 30px;
    height: 30px;
    background-color: red;
    border: none;
    color: white;
    border-radius: 50%;
    cursor: pointer;
    font-size: 15px;
    text-align: center;
}

.add-button .ti,
.remove-button .ti {
    font-weight: 700;
}

.block-between{
    background: #2fb344;
}

/** Button  **/
button svg {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
}
